@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
  --card__separation: 15px;
  --card__text__color: hsl(215, 51%, 70%);
}
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(217, 54%, 11%);
  font-family: Roboto, Verdana;
}

.card {
  display: block;
  border-radius: 15px;
  width: 350px;
  height: auto;
  /* text-align: center; */
  padding: 20px;
  background-color: hsl(216, 50%, 16%);
  color: var(--card__text__color);
  box-shadow: 0px 40px 0px 14px hsl(217, 54%, 10%), 0px 0px 0px 40px hsl(217, 80%, 7%, 0.1), 0px 40px 0px 40px hsl(217, 80%, 7%, 0.1);
}

.card__img {
  width: 100%;
  margin-bottom: var(--card__separation);
  border-radius: 10px;
}

.card__title {
  text-align: left;
  color: hsl(0, 0%, 100%);
  margin-bottom: var(--card__separation);
}

.card__paragraph {
  font-size: 18px;
  margin-bottom: var(--card__separation);
}

.card__data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: var(--card__separation);
  border-bottom: 1px solid hsl(215, 32%, 27%);
  margin-bottom: var(--card__separation);
}

.card__price,
.card__time {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card__eth,
.card__clock {
  display: inline-block;
  margin-right: 8px;
}

.card__ethprice {
  color: hsl(178, 100%, 50%);
}
.card__credits {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card__creator__img {
  width: 50px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 10px;
}

.card__creator__name {
  color: white;
}
